<h2>ユーザーを編集する</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "編集完了", class: "btn-primary" %>
  </div>
<% end %>

<h3>アカウントを削除</h3>

<%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, class: "btn-danger", method: :delete %>

<%= link_to "戻る", :back %>
