<div class="main-content">
	<div class="container">
		<h1>ユーザー一覧</h1>

		<% @users.each do |user| %>
			<div class="users-index-item">
				 <!--avatar-->
				<div class="users-index-img d-inline">
					<%= link_to("/users/#{user.id}") do %>
						<% if user.avatar.attached? %>
							<%= image_tag user.avatar, class: "avatar-index rounded-circle mx-auto" %>
						<% else %>
							<%= image_tag "default_user.png", class: "avatar-index rounded-circle mx-auto" %>
						<% end %>
					<% end %>
				</div>
				<!--username-->
				<%= link_to(user.username, "/users/#{user.id}", class: "main-item") %>
				<!--投稿数-->
				<div class="posts-count text-secondary">
					投稿数<%= user.posts.count %>
				</div>
			</div>
		<% end %>
	</div>
</div>