<div class="main-content">
	<div class="container">
		<h1>ユーザー一覧</h1>

		<% @users.each do |user| %>
			<div class="users-index-item">
				 <!--avatar-->
				<div class="users-index-img d-inline">
					<%= link_to("/users/#{user.id}") do %>
						<% if user.image_id == 1 %>
							<%= image_tag "user1.png", class: "avatar-index rounded-circle mx-auto" %>
						<% elsif user.image_id == 2 %>
							<%= image_tag "user2.png", class: "avatar-index rounded-circle mx-auto" %>
						<% elsif user.image_id == 3 %>
							<%= image_tag "user3.png", class: "avatar-index rounded-circle mx-auto" %>
            <% elsif user.image_id == 4 %>
							<%= image_tag "user4.png", class: "avatar-index rounded-circle mx-auto" %>
						<% elsif user.image_id == 5 %>
							<%= image_tag "user5.png", class: "avatar-index rounded-circle mx-auto" %>
						<% end %>
					<% end %>
				</div>
				<!--username-->
				<%= link_to(user.username, "/users/#{user.id}", class: "main-item") %>
				<!--投稿数-->
				<div class="posts-count text-secondary">
					投稿数<%= user.posts.count %>
				</div>
			</div>
		<% end %>
	</div>
</div>