<div class="main-content">
  <div class="main gears-show">
    <div class="container">
      <div class="gear-show-item">
        <div class="gear-name">
          <%= @gear.name %>
        </div>

        <ul class="list-group gear-show-list">
          <p class="show-maker">メーカー</p>
          <li class="list-group-item"><%= @gear.maker %></li>
          <p class="show-price">価格</p>
          <li class="list-group-item"><%= number_to_currency(@gear.price, :format => "%u%n", :unit => "￥") %></li>
          <p class="show-memo">メモ</p>
          <li class="list-group-item"><%= @gear.memo %></li>
        </ul>
        <%= render "layouts/link" %>
      </div>
      <%= render "layouts/return" %>
    </div>
  </div>
</div>
