<div class="main gears-show">
  <div class="container">
    <div class="gear-show-item">
      
      <div class="card">
        <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= @gear.name %></h4>
          <p class="card-text">
            <%= @gear.category %>
          </p>
        </div>
      </div>
      
      <ul class="list-group">
        <p>メーカー</p>
        <li class="list-group-item"><%= @gear.maker %></li>
        <p>価格</p>
        <li class="list-group-item"><%= @gear.price %></li>
        <p>メモ</p>
        <li class="list-group-item"><%= @gear.memo %></li>
      </ul>
      <%= render "layouts/link" %>
    </div>
      <%= link_to("/gears") do %>
        <p class="text-center">一覧に戻る</p>
      <% end %>
  </div>
</div>
