<div class="main-content">
  <div class="container">
    <h1>TimeLine
      <%= link_to(posts_new_path) do %>
        <span>
          <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">
            ＋
          </button>
        </span>
      <% end %>
    </h1>
    
    <% @posts.each do |post| %>
      <div class="posts-index-item mb-20">
        <div class="posts-index-user">
          <!--avatar-->
          <div class="posts-index-img d-inline">
            <%= link_to("/users/#{post.user.id}") do %>
              <% if post.user.image_id == 1 %>
                <%= image_tag "user1.png", class: "avatar-index rounded-circle mx-auto" %>
              <% elsif post.user.image_id == 2 %>
                <%= image_tag "user2.png", class: "avatar-index rounded-circle mx-auto" %>
              <% elsif post.user.image_id == 3 %>
                <%= image_tag "user3.png", class: "avatar-index rounded-circle mx-auto" %>
              <% elsif post.user.image_id == 4 %>
                <%= image_tag "user4.png", class: "avatar-index rounded-circle mx-auto" %>
              <% elsif post.user.image_id == 5 %>
                <%= image_tag "user5.png", class: "avatar-index rounded-circle mx-auto" %>
              <% end %>
            <% end %>
          </div>
          <!--username-->
          <div class="posts-index-username d-inline">
            <%= link_to post.user.username, "/users/#{post.user.id}", class: "text-dark font-weight-bold" %>
          </div>
          <span class="text-secondary">
          ・<%= distance_of_time_in_words_to_now(post.created_at) %>前
          </span>
        </div>
        <!--content-->
        <div class="post-content">
          <%= link_to "/posts/#{post.id}", class: "text-dark no-deco" do %>
            <%= safe_join(post.content.split("\n"),tag(:br)) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
