<div class="main-content">
  <div class="container">
    <div class="post-show-item">
      
      <% if @post.updated_at != @post.created_at %>
        <p class="text-secondary mt-0">編集済み</p>
      <% end %>
      <div class="post-show-user">
        <div class="post-show-img d-inline">
          <% if @user.image_id == 1 %>
            <%= image_tag "user1.png", class: "avatar-show rounded-circle mx-auto" %>
          <% elsif @user.image_id == 2 %>
            <%= image_tag "user2.png", class: "avatar-show rounded-circle mx-auto" %>
          <% elsif @user.image_id == 3 %>
            <%= image_tag "user3.png", class: "avatar-show rounded-circle mx-auto" %>
          <% elsif @user.image_id == 4 %>
            <%= image_tag "user4.png", class: "avatar-show rounded-circle mx-auto" %>
          <% elsif @user.image_id == 5 %>
            <%= image_tag "user5.png", class: "avatar-show rounded-circle mx-auto" %>
          <% end %>
        </div>
        <div class="post-show-username d-inline">
          <%= link_to @user.username, "/users/#{@user.id}", class: "text-dark font-weight-bold" %>
        </div>
      </div>
      
      <h5>
        <%= @post.content %>
      </h5>
      
      <div class="post-show-time text-secondary">
        <%= distance_of_time_in_words_to_now(@post.created_at) %>前に作成
        ・
        <%= simple_time(@post[:created_at]) %>
      </div>
      
      <!--いいね欄-->
      <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
        <%= link_to "/likes/#{@post.id}/destroy", {method: "delete"} do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to "/likes/#{@post.id}/create",{method: "post"} do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      
      <%= @likes_count %>
      
      <% if current_user == @user %>
        <%= render "layouts/linkPost" %>
      <% end %>
    </div>
    <%= render "layouts/returnPost" %>
  </div>
</div>