<%= form_with(model: @gear, url: "/gears/create", local: true) do |f| %>
  <div class="form-group">
    <div>
      <%= f.label :image, "画像" %><br>
      <%= f.file_field :image %>
    </div>
    <div class="d-block">
      <%= f.label :category, "カテゴリー" %>
      <span class="text-danger">*</span>
    </div>
    <%= f.select :category, [ ["住居系"], ["料理系"], ["火周り系"], ["その他"] ], prompt: "カテゴリーを選択してください", class: "d-block" %>
    <div class="d-block">
      <%= f.label :name, "名称" %>
      <span class="text-danger">*</span>
    </div>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :maker, "メーカー" %>
    <%= f.text_field :maker, class: "form-control" %>
    <%= f.label :price, "価格" %>
    <%= f.number_field :price, class: "form-control" %>
    <%= f.label :memo,"メモ" %>
    <%= f.text_area :memo, class: "form-control" %>
    <%= f.submit "ギア登録", class: "btn btn-primary" %>
  </div>
<% end %>