    <button class="btn life w-100" type="button" data-toggle="collapse" data-target="#index1" aria-expanded="true" aria-controls="index1">
     住居系
    </button>
    <% @gear1.each do |gear| %>
      <div class="collapse show" id="index1">
        <div class="gear-index-item mb-20">
          <% if gear.image.attached? %>
            <%= image_tag gear.image, class: "index-img" %>
          <% else %>
            <%= image_tag "default_gear.jpg", class: "index-img" %>
          <% end %>
          
          <%= link_to(gear.name, "/gears/#{gear.id}", class: "main-item") %>
          
          <div class="bottom-item text-secondary">
            <% if gear.maker %>
              <%= gear.maker %>
            <% end %>
            <% if gear.price %>
              <%= number_to_currency(gear.price, :format => "%u%n", :unit => "￥") %>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>
  
    <button class="btn cook w-100" type="button" data-toggle="collapse" data-target="#index2" aria-expanded="true" aria-controls="index2">
     料理系
    </button>
    <% @gear2.each do |gear| %>
      <div class="collapse show" id="index2">
        <div class="gear-index-item mb-20">
          <% if gear.image.attached? %>
            <%= image_tag gear.image, class: "index-img" %>
          <% else %>
            <%= image_tag "default_gear.jpg", class: "index-img" %>
          <% end %>
          
          <%= link_to(gear.name, "/gears/#{gear.id}", class: "main-item") %>
          
          <div class="bottom-item text-secondary">
            <% if gear.maker %>
              <%= gear.maker %>
            <% end %>
            <% if gear.price %>
              <%= number_to_currency(gear.price, :format => "%u%n", :unit => "￥") %>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>
    
    <button class="btn fire w-100" type="button" data-toggle="collapse" data-target="#index3" aria-expanded="true" aria-controls="index3">
     火周り系
    </button>
    <% @gear3.each do |gear| %>
      <div class="collapse show" id="index3">
        <div class="gear-index-item mb-20">
          <% if gear.image.attached? %>
            <%= image_tag gear.image, class: "index-img" %>
          <% else %>
            <%= image_tag "default_gear.jpg", class: "index-img" %>
          <% end %>
          
          <%= link_to(gear.name, "/gears/#{gear.id}", class: "main-item") %>
          
          <div class="bottom-item text-secondary">
            <% if gear.maker %>
              <%= gear.maker %>
            <% end %>
            <% if gear.price %>
              <%= number_to_currency(gear.price, :format => "%u%n", :unit => "￥") %>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>
  
    <button class="btn others w-100" type="button" data-toggle="collapse" data-target="#index4" aria-expanded="true" aria-controls="index4">
     その他
    </button>
    <% @gear4.each do |gear| %>
      <div class="collapse show" id="index4">
        <div class="gear-index-item mb-20">
          <% if gear.image.attached? %>
            <%= image_tag gear.image, class: "index-img" %>
          <% else %>
            <%= image_tag "default_gear.jpg", class: "index-img" %>
          <% end %>
          
          <%= link_to(gear.name, "/gears/#{gear.id}", class: "main-item") %>
          
          <div class="bottom-item text-secondary">
            <% if gear.maker %>
              <%= gear.maker %>
            <% end %>
            <% if gear.price %>
              <%= number_to_currency(gear.price, :format => "%u%n", :unit => "￥") %>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>